@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}


html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: black;
    color: white;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    transition: .3s;
}

.header.sticky {
    background: black;
}


.logo {
    position: relative;
    font-size: 2.5rem;
    font-weight: 600;
    color: white;
    animation-name: logo;
    transition: 1s;
    animation-iteration-count: infinite;
    animation-duration: 2s;
}


@keyframes logo {

    0% {
        color: white;
    }

    25% {
        color: white;
    }

    50% {
        color: #00acf049;
    }

    75% {
        color: white;
    }

    100% {
        color: white;
    }

}

.navbar {
    position: relative;
}

.navbar a {
    font-size: 1.7rem;
    color: white;
    font-weight: 500;
    margin-left: 3.5rem;
    transition: .3s;
}


.modes {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background: black;
    color: white;
    font-weight: bold;
    border: 2px solid black;
    box-shadow: 0px 0px 5px 5px black;
    transition: .5s;
}

.navbar a:hover,
.navbar a.active {
    color: #00abf0;
}

#menu-icon {
    position: relative;
    font-size: 3.6rem;
    color: white;
    cursor: pointer;
    display: none;
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}


.home {
    display: flex;
    align-items: center;
    padding: 0 9%;
    background-size: cover;
    background-position: center;
}

.home-content {
    max-width: 60rem;
    z-index: 99;
}

.home-content h1 {
    position: relative;
    display: inline-block;
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}

.home-content h1 span {
    color: white;
}

.home-content .text-animate {
    position: relative;
    width: 33.8rem;
}

.home-content .text-animate h3 {
    font-size: 3.2rem;
    font-weight: 700;
    color: transparent;
    -webkit-text-stroke: .7px #00abf0;
    background-image: linear-gradient(#00abf0, #00abf0);
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-position: -33rem 0;

}

.home.show-animate .home-content .text-animate h3 {
    animation: homeBgText 6s linear infinite;
    animation-delay: 2s;
}

.home-content .text-animate h3::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    border-right: 2px solid #00abf0;
    z-index: -1;
}

.home.show-animate .home-content .text-animate h3::before {
    animation: homeCursorText 6s linear infinite;
    animation-delay: 2s;

}

.home-content p {
    position: relative;
    font-size: 1.6rem;
    line-height: 30px;
    letter-spacing: 1px;
    word-spacing: 2px;
    margin: 2rem 0 4rem;
}

.btn-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 34.5rem;
    height: 5rem;
}

.btn-box .btn {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 100%;
    background: #00abf0;
    border: .2rem solid #00abf0;
    border-radius: .8rem;
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: .1rem;
    color: black;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.btn-box .btn:hover {
    color: #00abf0;
}

.btn-box .btn:nth-child(2) {
    background: transparent;
    color: #00abf0;
}

.btn-box .btn:nth-child(2):hover {
    color: black;
}

.btn-box .btn:nth-child(2)::before {
    background: #00abf0;
}

.btn-box .btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: black;
    z-index: -1;
    transition: .5s;
}

.btn-box .btn:hover::before {
    width: 100%;
}

.home-sci {
    position: absolute;
    bottom: 4rem;
    width: 350px;
    display: flex;
    justify-content: space-between;
}

.home-sci a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: .2rem solid #00abf0;
    border-radius: 50%;
    font-size: 18px;
    color: #00abf0;
    z-index: 1;
    margin-left: 10px;
    overflow: hidden;
    transition: .5s;
}

.home-sci a:hover {
    color: black;
}

.home-sci a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #00abf0;
    z-index: -1;
    transition: .5s;
}

.home-sci a:hover::before {
    width: 100%;
}

.home-imgHover {
    position: absolute;
    top: 0;
    right: 0;
    width: 45%;
    height: 100%;
    background: transparent;
    transition: 3s;
}

/* -------------------------------------------- about---------------------------- */
.about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    background: black;
    padding-bottom: 6rem;
}

.heading {
    position: relative;
    font-size: 5rem;
    margin-bottom: 3rem;
    text-align: center;
}

span {
    color: #00abf0;
}

.about-img {
    position: relative;
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-img img {
    width: 90%;
    border-radius: 50%;
    border: .2rem solid #00abf0;
}

.about-img .circle-spin {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border-bottom: .2rem solid black;
    border-top: .2rem solid black;
    border-left: .2rem solid #00abf0;
    border-right: .2rem solid #00abf0;
    animation: aboutSpinner 8s linear infinite;
}

.about-content {
    text-align: center;
}

.about-content h3 {
    position: relative;
    display: inline-block;
    font-size: 2.6rem;
}

.about-content p {
    position: relative;
    font-size: 1.6rem;
    letter-spacing: 1px;
    word-spacing: 2px;
    line-height: 30px;
    margin: 2rem 0 3rem;
}

.btn-box.btns {
    display: inline-block;
    width: 15rem;
}

.btn-box.btns a::before {
    background: black;
}

/* --------------------project---------------- */
.project {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: auto;
    padding-bottom: 5rem;
}

.project .project-row {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}

.project-row .project-column {
    flex: 1 1 40rem;
}

.project-column .title {
    position: relative;
    display: inline-block;
    font-size: 2.5rem;
    margin: 0 0 1.5rem 2rem;
}

.project-column .project-box {
    position: relative;
    border-left: .2rem solid #00abf0;
}

.project-box .project-content {
    position: relative;
    padding-left: 2rem;
}

.project-box .project-content::before {
    content: '';
    position: absolute;
    top: 0;
    left: -1.1rem;
    width: 2rem;
    height: 2rem;
    background: #00abf0;
    border-radius: 50%;
}

.project-content .content {
    position: relative;
    padding: 1.5rem;
    border: .2rem solid #00abf0;
    border-radius: .6rem;
    margin-bottom: 2rem;
}

.project-content .content::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #00b7ff3e;
    z-index: -1;
    transition: .5s;
}

.project-content .content:hover::before {
    width: 100%;
}

.project-content .content .year {
    font-size: 1.5rem;
    color: #00abf0;
    padding-bottom: .5rem;
}

.project-content .content .year i {
    padding-right: .5rem;
}

.project-content .content h3 {
    font-size: 2rem;
}

.project-content .content p {
    font-size: 1.6rem;
    padding-top: .5rem;
}

/* --------------------------------------------- */
.pro-button {
    font-family: inherit;
    display: inline-block;
    width: 8em;
    height: 2.6em;
    line-height: 2.5em;
    margin: 20px;
    position: relative;
    margin: 15px auto;
    text-align: center;
    letter-spacing: 2px;
    overflow: hidden;
    border: 2px solid #00abf0;
    transition: color .5s;
    z-index: 1;
    font-size: 17px;
    border-radius: 6px;
    font-weight: 500;
    color: #00abf0;
}

.pro-button:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: #00abf0;
    height: 150px;
    width: 200px;
    border-radius: 50%;
}

.pro-button:hover {
    color: black;
}

.pro-button:before {
    top: 100%;
    left: 100%;
    transition: all 1s;
}

.pro-button:hover:before {
    top: -30px;
    left: -30px;
}

.pro-button:active:before {
    background: aqua;
    transition: background 0s;
}

/* --------------skills------------------------------- */

.skills {
    min-height: auto;
    padding-bottom: 7rem;
    background: black;
}

.skills h2 {
    display: inline-block;
    left: 50%;
    transform: translateX(-50%);
}

.skills .skills-row {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}

.skills-row .skills-column {
    flex: 1 1 40rem;
}

.skills-column .title {
    position: relative;
    display: inline-block;
    font-size: 2.5rem;
    margin: 0 0 1.5rem;
}

.skills-column .skills-box {
    position: relative;
}

.skills-box .skills-content {
    position: relative;
    border: .2rem solid #00abf0;
    border-radius: .6rem;
    padding: .5rem 1.5rem;
    z-index: 1;
    overflow: hidden;
}

.skills-box .skills-content::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #00acf027;
    z-index: -1;
    transition: .5s;
}

.skills-box .skills-content:hover::before {
    width: 100%;
}

.skills-content .progress {
    padding: 1rem 0;
}

.skills-content .progress h3 {
    font-size: 1.7rem;
    display: flex;
    justify-content: space-between;
}

.skills-content .progress h3 span {
    color: #00abf0;
}

.skills-content .progress .bar {
    height: 2.5rem;
    border-radius: .6rem;
    border: .2rem solid #00abf0;
    padding: .5rem;
    margin: 1rem 0;
}

.skills-content .progress .bar span {
    display: block;
    height: 100%;
    border-radius: .3rem;
    background: #00abf0;
}

@media (max-width: 548px) {
    .sk-heading {
        font-size: 30px;
    }
}

@media (max-width: 479px) {
    .sk-heading {
        font-size: 25px;
    }
}

@media (max-width: 415px) {
    .sk-heading {
        font-size: 20px;
    }
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(1) .bar span {
    width: 85%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(2) .bar span {
    width: 80%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(3) .bar span {
    width: 70%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(4) .bar span {
    width: 60%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(5) .bar span {
    width: 60%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(6) .bar span {
    width: 70%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(7) .bar span {
    width: 80%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(8) .bar span {
    width: 90%;
}


.skills-column:nth-child(2) .skills-content .progress:nth-child(1) .bar span {
    width: 90%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(2) .bar span {
    width: 80%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(3) .bar span {
    width: 75%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(4) .bar span {
    width: 85%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(5) .bar span {
    width: 70%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(6) .bar span {
    width: 85%;
}
.skills-column:nth-child(2) .skills-content .progress:nth-child(7) .bar span {
    width: 70%;
}

.contact {
    min-height: auto;
    padding-bottom: 7rem;
}

.contact h2 {
    display: inline-block;
    left: 50%;
    transform: translateX(-50%);
}

.contact form {
    max-width: 70rem;
    margin: 0 auto;
    text-align: center;
}

.contact form .input-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box .input-field {
    position: relative;
    width: 49%;
    margin: .8rem 0;
}

.contact form .input-box .input-field input,
.contact form .textarea-field textarea {
    width: 100%;
    height: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--main-color);
    background: transparent;
    border-radius: .6rem;
    border: .2rem solid #00abf0;
}

.contact form .input-box .input-field input::placeholder,
.contact form .textarea-field textarea::placeholder {
    color: var(--text-color);
}

.contact form .focus {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #00acf02a;
    border-radius: .6rem;
    z-index: -1;
    transition: .5s;
}

.contact form .input-box .input-field input:focus~.focus,
.contact form .input-box .input-field input:valid~.focus,
.contact form .textarea-field textarea:focus~.focus,
.contact form .textarea-field textarea:valid~.focus {
    width: 100%;
}

.contact form .textarea-field {
    position: relative;
    margin: .8rem 0 2.7rem;
    display: flex;
}

.contact form .textarea-field textarea {
    resize: none;
}

.contact form .btn-box.btns .btn {
    cursor: pointer;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: black;

}

.footer-text,
.footer-iconTop {
    position: relative;
}


.footer-text p {
    font-size: 1.6rem;
}

.footer-iconTop a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: #00abf0;
    border: .2rem solid #00abf0;
    border-radius: .6rem;
    z-index: 1;
    overflow: hidden;
}

.footer-iconTop a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: black;
    z-index: -1;
    transition: .5s;
}

.footer-iconTop a:hover::before {
    width: 100%;
}

.footer-iconTop a i {
    font-size: 2.4rem;
    color: black;
    transition: .5s;
}

.footer-iconTop a:hover i {
    color: #00abf0;
}

@media (max-width: 1200px) {
    html {
        font-size: 55%;
    }
}
@media (max-width: 1035px){
    .nav{
        font-size: 40%;
    }
}

@media (max-width: 991px) {
    .header {
        padding: 2rem 4%;
        width: 100%;
    }

    section {
        padding: 10rem 4% 2rem;
    }

    .home {
        padding: 0 4%;
    }

    .footer {
        padding: 2rem 4%;
    }
}
@media (max-width: 772px){
    .nav a{
        font-size: 20%;
    }
}

@media (max-width: 768px) {
    .header {
        background: black;
    }

    #menu-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: -100%;
        width: 100%;
        padding: 1rem 4%;
        background: #00abf0;
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        z-index: 1;
        transition: .25s ease;
        transition-delay: .25s;
    }

    .navbar.active {
        transition-delay: 0s;
        left: 0;
    }

    .navbar .active-nav {
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background: black;
        border-top: .1rem solid rgba(0, 0, 0, .2);
        z-index: -1;
        transition: .25s ease;
        transition-delay: 0s;
    }

    .navbar.active .active-nav {
        transition-delay: .25s;
        left: 0;
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        transform: translateX(-20rem);
        transition: .25s ease;
        transition-delay: 0s;
    }

    .navbar.active a {
        transform: translateX(0);
        transition-delay: .25s;
    }

    .home-imgHover {
        pointer-events: none;
        opacity: .6;
    }
}

@media (max-width: 520px) {
    html {
        font-size: 50%;
    }

    .home-content h1 {
        display: flex;
        flex-direction: column;
    }

    .home-sci {
        width: 380px;
    }

    .home-sci a {
        width: 38px;
        height: 38px;
        margin-right: 5px;
    }
}

@media (max-width: 740px) {
    .home-sci {
        width: 340px;
    }

}

@media (max-width: 462px) {
    .home-content h1 {
        font-size: 5.2rem;
    }

    .project {
        padding: 10rem 4% 5rem 5%;
    }

    .contact form .input-box .input-field {
        width: 100%;
    }

    .footer {
        flex-direction: column-reverse;
    }

    .footer p {
        margin-top: 2rem;
        text-align: center;
    }
}

@media (max-width: 371px) {
    .home {
        justify-content: center;
    }

    .home-content {
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }

    .home-content h1 {
        font-size: 5rem;
    }
}

/* keyframes animation */

@keyframes homeBgText {

    0%,
    10%,
    100% {
        background-position: -33rem 0;
    }

    65%,
    85% {
        background-position: 0 0;
    }
}

@keyframes homeCursorText {

    0%,
    10%,
    100% {
        width: 0;
    }

    65%,
    78%,
    85% {
        width: 100%;
        opacity: 1;
    }

    75%,
    81% {
        opacity: 0;
    }
}

@keyframes aboutSpinner {
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@keyframes showRight {
    100% {
        width: 0;
    }
}

#msg-span{
    font-size: 20px;
    margin: 5px;
    padding: 5px;
    width: 100%;
    display: inline-block;
    letter-spacing: 1px;
    word-spacing: 2px;
    color: rgb(0, 255, 0);
}